<header>
  <nav class="nav">
    <div class="logo">
      <h1 class="logo-text" routerLink="home">
        DevYou <span class="logo-span">Cafe</span>
      </h1>
    </div>
    <ul class="parent-nav">
      <li class="nav-list">
        <a class="nav-item link" routerLink="products">Coffee</a>
      </li>
      <li class="nav-list">
        <a class="nav-item link" routerLink="products">Tea</a>
      </li>
      <li class="nav-list">
        <a class="nav-item link" routerLink="products">Sweets</a>
      </li>
      <li class="nav-list">
        <button class="btn nav-item" routerLink="checkout">View Cart</button>
      </li>
    </ul>
  </nav>
</header>
