<section class="about-container">
  <div class="about-image-container">
    <img
      src="https://i.ibb.co/j3hvy0q/Dev-You2020-Logo-with-border.png"
      alt="Dev-You2020-Logo-with-border"
      border="0"
    />
  </div>
  <div class="about-text-container">
    <h2 class="title title-text">
      DevYou <span class="title-span">Cafe</span>
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corporis,
      voluptatum ad, a quo eius cum officiis vitae neque nihil repellendus
      delectus omnis distinctio, ut laboriosam blanditiis. Obcaecati, veniam
      harum?
    </p>
  </div>
</section>
