<section class="menus-container">
  <div class="menu-link-div">
    <a class="menu-link" routerLink="/products">View All Products</a>
  </div>
  <div class="menu">
    <h2 class="menu-title">Coffee</h2>
    <img
      class="menu-img"
      src="https://i.ibb.co/Tqg2DZk/coffee.png"
      alt="coffee image"
    />
  </div>
  <div class="menu">
    <h2 class="menu-title">Tea</h2>
    <img
      class="menu-img"
      src="https://i.ibb.co/r6b2Rxp/tea.png"
      alt="tea image"
    />
  </div>
  <div class="menu">
    <h2 class="menu-title">Sweets</h2>
    <img
      class="menu-img"
      src="https://i.ibb.co/dD0wMbG/sweets.png"
      alt="sweets image"
    />
  </div>
</section>
