.menus-container {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.menu {
  width: 275px;
  border: 5px dotted blueviolet;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.menu-title {
  padding: 20px;
  font-size: 1.5em;
  color: blueviolet;
  text-shadow: 1px 1px black;
}
.menu-img {
  width: 6em;
  height: 6em;
  flex: 1;
}
.menu-heading-div {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.menu-heading {
  font-size: 3em;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: chartreuse;
  text-shadow: 3px 3px black;
}
@media only screen and (min-width: 768px) {
  .menus-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: initial;
    position: relative;
    bottom: 150px;
  }
  .menu {
    margin: 90px 20px;
    padding: 20px;
  }
}
